.AddToBag , .Add{
    border: none;
    border-radius: 5rem;
    background-color: rgb(50, 255, 47);
    padding:0.5rem 1rem 0.5rem 1rem;
}

.Wishlist{
    border:  0.2rem solid black;
    border-radius: 5rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
}

